.season {
  text-align: center;
}
.text{
  padding-left: 2%;
}
.no {
  width: 7%;
}
.title {
  width: 60%;
}                
.dir {
  width: 35%;
} 
.headings {
  color: white; 
  background-color:#6699ff;
}                   
body {
  padding-bottom: 5%;
}
table {
  margin:0 auto; 
  width: 75%;
}
table, td, th {
      border: 1px solid black;
      border-collapse: collapse;
}
th {
  font-size: 20px;
}
td, th {
  padding: 8px 8px;
}
td {
  font-size: 20px;
}
.number {
  text-align: center;
}